*.md linguist-detectable=true
*.md linguist-documentation=false

*.yml linguist-detectable=true
*.yml linguist-documentation=true
*.yml linguist-language=YAML
*.yaml linguist-detectable=true
*.yaml linguist-documentation=true
*.yaml linguist-language=YAML
